/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
}

/*===== Colores =====*/
:root {
  --first-color: #4070f4;
  --second-color: #0e2431;
}

/*===== Fuente y tipografia =====*/
:root {
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}
@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

/*===== Margenes =====*/
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/*===== z index =====*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}
h1,
h2,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  
}

/*===== CLASS CSS ===== */
.section-title {
  position: relative;
  font-family: neon;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}
.section-title::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}
.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}
@media screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: 0.5s;
  }
}
.nav-item {
  
  margin-bottom: var(--mb-4);
}
.nav-link {
  position: relative;
  color: #fff;
}
.nav-link:hover {
  position: relative;
}
.nav-link:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}
.nav-logo img {
  color: var(--second-color);
  font-weight: var(--font-semi);
  width: 2.70rem;
}
.nav-toggle {
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/
.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
  -webkit-animation: change-color 5s infinite linear;
  
}

/*=== Show menu ===*/
.show {
  right: 0;
}

/*===== HOME =====*/
.home {
  height: calc(100vh - 3rem);
  row-gap: 1rem;
}
.home-data {
  align-self: center;
}
.home-title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
}
.home-title-color {
  color: var(--first-color);
}
.home-social {
  display: flex;
  flex-direction: column;
}
.home-social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--second-color);
}
.home-social-icon:hover,
.footer-icon:hover {
  color: var(--first-color);
}
.home-img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 65%;
}

/*BUTTONS*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  border: 1px solid var(--first-color);
  color: #fff;
  padding: 0.75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: 0.5rem;
}
.button:hover {
  background-color: #fff;
  color: var(--first-color);
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}

/* ===== ABOUT =====*/
section.about {
  padding: 20vh 15px;
}
.about-container {
  row-gap: 2rem;
  text-align: center;
}
.about-subtitle {
  margin-bottom: var(--mb-2);
}
.about-img {
  justify-self: center;
}
.about-img img {
  width: 200px;
  border-radius: 0.5rem;
}

/* ===== SKILLS =====*/
.skills-container {
  row-gap: 2rem;
  text-align: center;
}
.skills-subtitle {
  margin-bottom: var(--mb-2);
}
.skills-text {
  margin-bottom: var(--mb-4);
}
.skills-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: 0.5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: 0.5rem;
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
}
.skills-icon {
  width: 2rem;
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}
img.man-icons {
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}
.skills-names {
  display: flex;
  align-items: center;
}
.skills-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--first-color);
  height: 0.25rem;
  border-radius: 0.5rem;
  z-index: var(--z-back);
}
.skills-html {
  width: 75%;
}
.skills-css {
  width: 70%;
}
.skills-js {
  width: 85%;
}
.skills-react,
.skills-mongo {
  width: 80%;
}
.skills-redux {
  width: 90%;
}
.skills-mui,
.skills-sql {
  width: 65%;
}
.skills-ts {
  width: 70%;
}
.skills-express,
.skills-node {
  width: 85%;
}
.skills-img {
  border-radius: 0.5rem;
}

/* ===== Projects =====*/
.project-container {
  gap: 2rem;
  max-width: 1024px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* column-gap: 2rem; */
  width: calc(100% - 2rem);
  margin: auto;
}
.project-img {
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: 0.5rem;
  overflow: hidden;
}
.project-img img {
  transition: 1s;
  cursor: pointer;
  margin-bottom: 0.5rem;
}
.project-img img:hover {
  transform: scale(1.1);
}
.project-container p {
  margin: auto 1rem 1rem;
}
.project-title {
  margin-bottom: var(--mb-2);
  margin-top: var(--mb-3);
  font-size: var(--h2-font-size);
}
.project-subtitle {
  margin-bottom: var(--mb-4);
  padding-bottom: 3.5rem;
}
.small-btn {
  padding: 0.3rem 1.3rem;
  font-weight: 400;
  margin: 1rem;
}
.project-btns {
  position: absolute;
  bottom: 0;
}

/* ===== CONTACT =====*/
.contact-input {
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mb-4);
}
.contact-button {
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: auto;
}

/* ===== FOOTER =====*/
.footer {
  background-color: var(--second-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 3.5rem 0;
}
.footer-title {
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}
.footer-social {
  margin-bottom: var(--mb-4);
}
.footer-icon {
  font-size: 1rem;
  color: #fff;
  margin: 0 var(--mb-2);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title {
    margin-bottom: var(--mb-6);
  }
  .section-title::after {
    width: 80px;
    top: 3rem;
  }

  .nav {
    height: calc(var(--header-height) + 1rem);
  }
  .nav-list {
    display: flex;
    padding-top: 0;
  }
  .nav-item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav-toggle {
    display: none;
  }
  .nav-link {
    color: var(--second-color);
  }

  .home {
    height: 100vh;
  }
  .home-data {
    align-self: flex-end;
  }
  .home-social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home-social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }
  .home-img {
    width: 39%;
    max-width: 420px;
    bottom: 20%;
  }
  .about-container {
    align-items: center;
    margin: auto;
    width: 50%;
    transition: 0.5s;
  }
  /* .about-container {
    width: 50%;
  } */
  .skills-container {
    grid-template-columns: repeat(2, 1fr);
    text-align: initial;
  }
  .about-img img {
    width: 300px;
  }
  .project-container {
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    column-gap: 3rem;
  }
  .contact-form {
    width: 360px;
  }
  .contact-container {
    justify-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home-img {
    right: 5%;

  }
}

@media screen and (max-width: 1024px) {
  
  .home-img {
    display: none;
  }

  .home-social{
    display: block;
  }
  .animate-charcter{
    font-size: 24px;
  }
}

.mylogo{
  border-radius: 50%;
}
/* .myimage{
  border-radius: 50%;
} */

.myimage{
  
  transition: transform 3s;
  /* animation: rotateImg 10s linear; */
  /* transition: all 1s; */
  /* animation-duration: 9s; */
  /* animation-delay: -2s; */
  /* animation-iteration-count: 3; */
  /* animation-direction: reverse; */
}

.myimage:hover{
  transform: rotateZ(15deg);
  
}
/* 
@keyframes transform{
  from {
   transform: rotate(0deg);
  }
 to {
  transform: rotate(20deg);
 }
} */

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      /* font-size: 50px; */
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.Baloo {
  text-align: center;
  /* font: 8em "Baloo", cursive; */
  text-transform: uppercase;
  /* letter-spacing: 0.1em; */
  color: #193a95;
  animation: anim 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@-webkit-keyframes anim {
  0% {
    text-shadow: -3px -3px 0px #00ffd8;
  }
  10% {
    text-shadow: 3px -4px 0px #00ffd8;
  }
  20% {
    text-shadow: -3px 4px 0px #00ffd8;
  }
  30% {
    text-shadow: 3px -4px 0px #00ffd8;
  }
  40% {
    text-shadow: -4px 3px 0px #00ffd8;
  }
  50% {
    text-shadow: 3px 4px 0px #00ffd8;
  }
  60% {
    text-shadow: -4px 3px 0px #00ffd8;
  }
  70% {
    text-shadow: 3px 4px 0px #00ffd8;
  }
  80% {
    text-shadow: -3px -3px 0px #00ffd8;
  }
  90% {
    text-shadow: 3px -4px 0px #00ffd8;
  }
  100% {
    text-shadow: -4px 3px 0px #00ffd8;
  }
}

@-webkit-keyframes change-color {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.Middle-Head{
  font-family: "Luckiest Guy", Arial;
}